
<div class="col-lg-12" style="margin-top: 40px;">
    <div class="card w-100">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">Les notes saisies</h5>
        <div class="d-flex justify-content-end mb-3">
          <div class="d-flex align-items-center gap-2">
            <select class="form-select" id="triFiliere">
              <option  *ngFor="let filiere of filieres" [value]="filiere.id">{{filiere.name}}</option>
                      
            </select>
            <select class="form-select" id="triCentre">
              <option  *ngFor="let centre of centres" [value]="centre.id">{{centre.nom}}</option>
            </select>
            <button class="btn btn-primary" id="filtrer">Filtrer</button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">ID</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">CIN</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Nom</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Prénom</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Filière</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Centre</h6>
                </th>
                <th class="border-bottom-0">
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- Boucle de génération de lignes avec des données filtrées -->
              <!-- Remplacez cette partie avec votre code de génération dynamique selon les critères de filtrage -->
             
             
              <tr *ngFor="let student of students" class="etudiant-item" data-filiere="Filière" data-niveau="Niveau">
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ student.id }}</p>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ student.cin }}</p>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ student.nom }}</p>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ student.prenom }}</p>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ student.filiere }}</p>
                </td>
                <td class="border-bottom-0">
                  <p class="mb-0 fw-normal">{{ student.centre }}</p>
                </td>
                <td class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">
                    <button
                    class="btn btn-success mb-0 fw-normal"
                    (click)="goToEnterMarks(student.id)"
                  ><i-tabler name="edit" class="icon-16"></i-tabler>  
                    Modifier
                  </button>
                  </h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  