
<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="p-5 text-center" style="width: 500px;">
        <div class="card">
            <div class="card-header">
                <h3>Connexion</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="cin">CIN</label>
                        <input type="text" id="cin" class="form-control" placeholder="AB12345">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="motDePasse">Mot de passe</label>
                        <input type="password" id="motDePasse" class="form-control" placeholder="Mot de passe">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success btn-block">CONNEXION</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 text-center">
                        <a href="#" class="text-primary">Mot de passe oublié?</a>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                        <h4>Créer un compte</h4>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-block">Candidat régulier</button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-danger btn-block">Candidat libre</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

