/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/dist/css/bootstrap.css";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,500&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
